[submodule "themes/learn"]
	path = themes/learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "public"]
	path = public
	url = git@github.com:klee30810/klee30810.github.io.git
	branch = main
